/*.slides{*/
/*    border:1px solid skyblue;*/
/*}*/
#shouye .card-img{
    margin-top: 14%;
    /*height: 700px;*/
}

#shouye .display-1{
    font-weight: bold;
    font-family: "Times New Roman";
    margin-top: 25%;
}
#shouye .h1{
    font-family: "Times New Roman";
    font-weight: bold;
    /* margin-bottom: 0; */
}


.section_body{
    font-family:"Times New Roman",serif;
    font-size:36px;
}

.reveal section{
    height: 100%;
}

.reveal .container-fluid{
    height:90.2%;
}
