.section_title{
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 45px;
}

.font_times
{
    font-family: 'Times New Roman', Times, serif;
}

.my_text_body
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    line-height: 1.5em;
}
.card-img-overlay{

    height: 100%;
}

.card-img{
    margin-top: 14%;
    /*height: 700px;*/
}


#shouye .display-1{
    font-weight: bold;
    font-family: "Times New Roman";
    margin-top: 25%;
}
#shouye .h1{
    font-family: "Times New Roman";
    font-weight: bold;
}

.navbar.sections{
    height: 10%;

}